
<style>
    #selected-animal {
        background-color: #D3D3D3;
        margin: 10px 0px 10px 0px;
        padding: 10px;
        border: solid 2px;
    }

    #animals {
        display: flex;
        padding: 0;
        border: solid 2px;
        background-color: #D3D3D3;
        
    }
    #animals li {
        list-style: none;
        margin: 10px 10px 10px 10px;
    }
    #animals li:hover {
        cursor: pointer;
        background-color: #eee;
    }
</style>

<div class="container">
      <h1>Animals</h1>
      <!-- On place les éléments invariables, le corps immobile du HTML -->
      <div id="selected-animal">
          <img src="{{selectedAnimal.img}}" alt="" id="selected-animal-img" height="300">
          <h3 id="selected-animal-name">{{selectedAnimal.name}}</h3>
          <p class="weight" id="selected-animal-weight">{{selectedAnimal.weight}}</p>
          <p class="speed" id="selected-animal-speed">{{selectedAnimal.speed}}</p>
      </div>
      <div>
          <ul id="animals">
            <div *ngFor="let item of animalsArray">
                <li (click)="selectAnimal(item)">
                    <h5>{{item.name}}</h5>
                    <img src="{{item.img}}" alt="" height="100px"><br>
                    <b>Weight :</b> {{item.weight}}<br>
                    <b>Speed :</b> {{item.speed}}
                </li>
            </div>
          </ul>
      </div>
  </div>